.enter {
    opacity: 0.01;
}

.enter.enter-active {
    opacity: 1;
    transition: opacity 240ms ease-in-out;
}

.exit {
    opacity: 1;
}

.exit.exit-active {
    opacity: 0.01;
    transition: opacity 240ms ease-in-out;
}

.body-content > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
