.enter {
    opacity: 0.01;
}

.enter.enter-active {
    opacity: 1;
    transition: opacity 240ms ease-in-out;
}

.exit {
    opacity: 1;
}

.exit.exit-active {
    opacity: 0.01;
    transition: opacity 240ms ease-in-out;
}


// Try putting enter and exit in an absolute position
// Try putting the container as absolute position
