@import url('https://fonts.googleapis.com/css?family=Rubik:400,700');

html {
    box-sizing: border-box;
}

* {
    font-family: 'Rubik', sans-serif;
}

*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* START: Paddings and margins */
// TODO: check if precompiling this is okay or just leave the generator in place
$spaceamounts: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space * 4}px;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space * 4}px;
    }
  }

  .m-h-#{$space} {
    margin-left: #{$space * 4}px;
    margin-right: #{$space * 4}px;
  }

  .m-v-#{$space} {
    margin-top: #{$space * 4}px;
    margin-bottom: #{$space * 4}px;
  }

  .p-h-#{$space} {
    padding-left: #{$space * 4}px;
    padding-right: #{$space * 4}px;
  }

  .p-v-#{$space} {
    padding-top: #{$space * 4}px;
    padding-bottom: #{$space * 4}px;
  }
}
/* END: Paddings and margins */
