.gradient-card {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 5px;
        background-image: linear-gradient(270deg, #00FFF8 0%, #FF1AB3 100%);

        z-index: -1;
    }

    &:after {
        content: "";
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        border-radius: 5px;
        background-color: darken(#363A43, 10%);
        border: 2px solid transparent;

        z-index: -1;
    }
}
