.pill {
    padding: 8px 32px;
    font-size: 14px;
    line-height: 21px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FC40B6;
    border-radius: 20px;
    height: 40px;
    border: 1px solid #FC40B6;
    box-shadow: 7px 7px 13px 0 rgba(0, 0, 0, 0.5);

    display: flex;
}

.pill__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
