/* START: Breakpoints */
$small-w: 480px;
$medium-w: 960px;
$large-w: 1272px;
/* END: Breakpoints */

/* START: Font */
$small-text: 12px;
$normal-text: 14px;
$nav-text: 16px;
$medium-text: 20px;
$large-text: 30px;

$thin-text: 300;
$normal-text: 400;
$bold-text: 600;
$bolder-text: 800;
/* END: Font */
