@import "../../../ds/settings/Theme.scss";
@import "../../../ds/settings/Settings.scss";

.admin-page {
    display: flex;
    flex-wrap: nowrap;
    flex: 2 0 auto;

    .accordion-menu {
        flex: 0 1 auto;
    }

    .admin-page__content {
        padding: $grid-unit * 5;

        flex: 1 1 auto;
    }
}

@media(min-width: $medium-w) {
    .admin-page__content {
        padding-left: $grid-unit * 10;
        padding-right: $grid-unit * 10;
    }
}
